CREATE DATABASE  IF NOT EXISTS `toeiclearning_db` /*!40100 DEFAULT CHARACTER SET utf8 */;
USE `toeiclearning_db`;
-- MySQL dump 10.13  Distrib 5.7.11, for Win64 (x86_64)
--
-- Host: localhost    Database: toeicleaning_db
-- ------------------------------------------------------
-- Server version	5.7.11-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bai_grammar`
--

DROP TABLE IF EXISTS `bai_grammar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bai_grammar` (
  `baigrammarid` int(11) NOT NULL AUTO_INCREMENT,
  `anhbaigrammar` varchar(255) DEFAULT NULL,
  `content_html` text,
  `content_mark_down` text,
  `tenbaigrammar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`baigrammarid`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_grammar`
--

LOCK TABLES `bai_grammar` WRITE;
/*!40000 ALTER TABLE `bai_grammar` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_grammar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_tap_doc`
--

DROP TABLE IF EXISTS `bai_tap_doc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bai_tap_doc` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `do_kho` int(11) NOT NULL,
  `part` int(11) NOT NULL,
  `script` varchar(255) DEFAULT NULL,
  `ten_bai_doc` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_tap_doc`
--

LOCK TABLES `bai_tap_doc` WRITE;
/*!40000 ALTER TABLE `bai_tap_doc` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_tap_doc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_tap_nghe`
--

DROP TABLE IF EXISTS `bai_tap_nghe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bai_tap_nghe` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `do_kho` int(11) NOT NULL,
  `part` int(11) NOT NULL,
  `script` text,
  `ten_bai_nghe` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_tap_nghe`
--

LOCK TABLES `bai_tap_nghe` WRITE;
/*!40000 ALTER TABLE `bai_tap_nghe` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_tap_nghe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_tap_tu_vung`
--

DROP TABLE IF EXISTS `bai_tap_tu_vung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bai_tap_tu_vung` (
  `baitaptuvungid` int(11) NOT NULL AUTO_INCREMENT,
  `anhbaituvung` varchar(255) DEFAULT NULL,
  `tenbaituvung` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`baitaptuvungid`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_tap_tu_vung`
--

LOCK TABLES `bai_tap_tu_vung` WRITE;
/*!40000 ALTER TABLE `bai_tap_tu_vung` DISABLE KEYS */;
INSERT INTO `bai_tap_tu_vung` VALUES (2,'2.business plan.jpg','Lesson 1 - Business planning'),(3,'3.computerandtheinternet.jpg','Lesson 2 - Computer and the internet'),(4,'4.Salaries-and-Benefits.jpg','Lesson 3 - Salaries & Benefits'),(5,'5.summer.jpg','Lesson 4- Summer'),(6,'6.summer.jpg','Lesson 5- Summer');
/*!40000 ALTER TABLE `bai_tap_tu_vung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_thi_thu`
--

DROP TABLE IF EXISTS `bai_thi_thu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bai_thi_thu` (
  `baithithuid` int(11) NOT NULL AUTO_INCREMENT,
  `anhbaithithu` varchar(255) DEFAULT NULL,
  `tenbaithithu` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`baithithuid`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_thi_thu`
--

LOCK TABLES `bai_thi_thu` WRITE;
/*!40000 ALTER TABLE `bai_thi_thu` DISABLE KEYS */;
INSERT INTO `bai_thi_thu` VALUES (1,'1.mini-test.png','Practice Mini Test 1 - Test  TOEIC Reading, Listening'),(2,'2.exam-test.jpeg','Practice Mini Test 2 - Test  TOEIC Reading, Listening'),(3,'3.mini-test.png','Practice Mini Test 3 - Test  TOEIC Reading, Listening'),(4,'4.exam-test.jpeg','Practice Mini Test 4 - Test  TOEIC Reading, Listening'),(5,'5.exam-test.jpeg','Practice Mini Test 5 - Test  TOEIC Reading, Listening');
/*!40000 ALTER TABLE `bai_thi_thu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cau_hoi_bai_tap_doc`
--

DROP TABLE IF EXISTS `cau_hoi_bai_tap_doc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cau_hoi_bai_tap_doc` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `cau_hoi` varchar(255) DEFAULT NULL,
  `dap_an_dung` varchar(255) DEFAULT NULL,
  `dap_an_1` varchar(255) DEFAULT NULL,
  `dap_an_2` varchar(255) DEFAULT NULL,
  `dap_an_3` varchar(255) DEFAULT NULL,
  `dap_an_4` varchar(255) DEFAULT NULL,
  `giai_thich` varchar(255) DEFAULT NULL,
  `photo_name` varchar(255) DEFAULT NULL,
  `so_thu_tu` varchar(255) DEFAULT NULL,
  `bai_tap_doc_id` bigint(20) DEFAULT NULL,
  `paragraph` text,
  PRIMARY KEY (`id`),
  KEY `FKec05quu61nalb96kvo06m5lm4` (`bai_tap_doc_id`),
  CONSTRAINT `FKec05quu61nalb96kvo06m5lm4` FOREIGN KEY (`bai_tap_doc_id`) REFERENCES `bai_tap_doc` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cau_hoi_bai_tap_doc`
--

LOCK TABLES `cau_hoi_bai_tap_doc` WRITE;
/*!40000 ALTER TABLE `cau_hoi_bai_tap_doc` DISABLE KEYS */;
/*!40000 ALTER TABLE `cau_hoi_bai_tap_doc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cau_hoi_bai_tap_nghe`
--

DROP TABLE IF EXISTS `cau_hoi_bai_tap_nghe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cau_hoi_bai_tap_nghe` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `cau_hoi` varchar(255) DEFAULT NULL,
  `dap_an_dung` varchar(255) DEFAULT NULL,
  `dap_an_1` varchar(255) DEFAULT NULL,
  `dap_an_2` varchar(255) DEFAULT NULL,
  `dap_an_3` varchar(255) DEFAULT NULL,
  `dap_an_4` varchar(255) DEFAULT NULL,
  `giai_thich` text,
  `photo_name` varchar(255) DEFAULT NULL,
  `so_thu_tu` varchar(255) DEFAULT NULL,
  `bai_tap_nghe_id` bigint(20) DEFAULT NULL,
  `script` text,
  PRIMARY KEY (`id`),
  KEY `FK569ojxvjejlo12dd1x95yhwu5` (`bai_tap_nghe_id`),
  CONSTRAINT `FK569ojxvjejlo12dd1x95yhwu5` FOREIGN KEY (`bai_tap_nghe_id`) REFERENCES `bai_tap_nghe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cau_hoi_bai_tap_nghe`
--

LOCK TABLES `cau_hoi_bai_tap_nghe` WRITE;
/*!40000 ALTER TABLE `cau_hoi_bai_tap_nghe` DISABLE KEYS */;
/*!40000 ALTER TABLE `cau_hoi_bai_tap_nghe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cau_hoi_bai_thi_thu`
--

DROP TABLE IF EXISTS `cau_hoi_bai_thi_thu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cau_hoi_bai_thi_thu` (
  `cauhoibaithithuid` int(11) NOT NULL AUTO_INCREMENT,
  `audiomp3` varchar(255) DEFAULT NULL,
  `correctanswer` varchar(255) DEFAULT NULL,
  `dap_an_user` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `option1` varchar(255) DEFAULT NULL,
  `option2` varchar(255) DEFAULT NULL,
  `option3` varchar(255) DEFAULT NULL,
  `option4` varchar(255) DEFAULT NULL,
  `paragraph` text,
  `question` varchar(255) DEFAULT NULL,
  `baithithuid` int(11) NOT NULL,
  PRIMARY KEY (`cauhoibaithithuid`),
  KEY `FKe2uv4c5hiy47l9utxyltela8d` (`baithithuid`),
  CONSTRAINT `FKe2uv4c5hiy47l9utxyltela8d` FOREIGN KEY (`baithithuid`) REFERENCES `bai_thi_thu` (`baithithuid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=501 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cau_hoi_bai_thi_thu`
--

LOCK TABLES `cau_hoi_bai_thi_thu` WRITE;
/*!40000 ALTER TABLE `cau_hoi_bai_thi_thu` DISABLE KEYS */;
/*!40000 ALTER TABLE `cau_hoi_bai_thi_thu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment_grammar`
--

DROP TABLE IF EXISTS `comment_grammar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comment_grammar` (
  `cmtgrammarid` int(11) NOT NULL AUTO_INCREMENT,
  `cmtgrammarcontent` varchar(255) DEFAULT NULL,
  `time` datetime DEFAULT NULL,
  `baigrammarid` int(11) NOT NULL,
  `id` bigint(20) NOT NULL,
  PRIMARY KEY (`cmtgrammarid`),
  KEY `FKoqdhw1u7geuy8x02fteb4j8pg` (`baigrammarid`),
  KEY `FKfemqtykw679muo86sadwe7ec3` (`id`),
  CONSTRAINT `FKfemqtykw679muo86sadwe7ec3` FOREIGN KEY (`id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKoqdhw1u7geuy8x02fteb4j8pg` FOREIGN KEY (`baigrammarid`) REFERENCES `bai_grammar` (`baigrammarid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment_grammar`
--

LOCK TABLES `comment_grammar` WRITE;
/*!40000 ALTER TABLE `comment_grammar` DISABLE KEYS */;
INSERT INTO `comment_grammar` VALUES (11,'bài đăng rất bổ ích','2019-05-03 20:46:23',13,2),(12,'aaa','2019-05-03 20:55:25',13,2);
/*!40000 ALTER TABLE `comment_grammar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment_tu_vung`
--

DROP TABLE IF EXISTS `comment_tu_vung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comment_tu_vung` (
  `cmtvocabularyid` int(11) NOT NULL AUTO_INCREMENT,
  `cmtvocabularycontent` varchar(255) DEFAULT NULL,
  `time` datetime DEFAULT NULL,
  `baitaptuvungid` int(11) NOT NULL,
  `id` bigint(20) NOT NULL,
  PRIMARY KEY (`cmtvocabularyid`),
  KEY `FKc318s9a1ynvshxfjj7rj14s7y` (`baitaptuvungid`),
  KEY `FK8tmjurh2c9w97cqvlim336wxa` (`id`),
  CONSTRAINT `FK8tmjurh2c9w97cqvlim336wxa` FOREIGN KEY (`id`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKc318s9a1ynvshxfjj7rj14s7y` FOREIGN KEY (`baitaptuvungid`) REFERENCES `bai_tap_tu_vung` (`baitaptuvungid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment_tu_vung`
--

LOCK TABLES `comment_tu_vung` WRITE;
/*!40000 ALTER TABLE `comment_tu_vung` DISABLE KEYS */;
INSERT INTO `comment_tu_vung` VALUES (1,'aaaa',NULL,2,2);
/*!40000 ALTER TABLE `comment_tu_vung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ket_qua`
--

DROP TABLE IF EXISTS `ket_qua`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ket_qua` (
  `ketquaid` int(11) NOT NULL AUTO_INCREMENT,
  `correctlisten` int(11) DEFAULT NULL,
  `correctread` int(11) DEFAULT NULL,
  `time` datetime DEFAULT NULL,
  `socaudung` int(11) DEFAULT NULL,
  `socausai` int(11) DEFAULT NULL,
  `baithithuid` int(11) NOT NULL,
  `nguoidungid` bigint(20) NOT NULL,
  PRIMARY KEY (`ketquaid`),
  KEY `FK7tu3h8lgrgirbano5u7khf8l7` (`baithithuid`),
  KEY `FKeiiibwj68arv48msgk6n2jky4` (`nguoidungid`),
  CONSTRAINT `FK7tu3h8lgrgirbano5u7khf8l7` FOREIGN KEY (`baithithuid`) REFERENCES `bai_thi_thu` (`baithithuid`) ON DELETE CASCADE,
  CONSTRAINT `FKeiiibwj68arv48msgk6n2jky4` FOREIGN KEY (`nguoidungid`) REFERENCES `nguoi_dung` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ket_qua`
--

LOCK TABLES `ket_qua` WRITE;
/*!40000 ALTER TABLE `ket_qua` DISABLE KEYS */;
INSERT INTO `ket_qua` VALUES (10,2,1,'2019-05-03 15:08:30',3,97,1,2),(11,0,0,'2019-05-03 20:44:43',0,100,1,2),(12,1,1,'2019-05-03 21:01:25',2,98,1,2),(13,1,1,'2019-05-04 10:27:40',2,98,1,2),(14,3,2,'2019-05-04 11:00:52',5,95,2,2),(15,0,0,'2019-05-08 16:52:07',0,100,1,1),(16,1,1,'2019-05-08 17:00:34',2,98,1,1),(17,0,0,'2019-05-08 17:01:46',0,100,2,1),(18,1,0,'2019-05-08 17:05:38',1,99,2,1),(19,3,3,'2019-05-13 23:24:22',6,94,1,2),(20,3,1,'2019-05-13 23:28:43',4,96,2,2),(21,0,0,'2019-05-13 23:30:19',0,100,3,2),(22,0,0,'2019-05-13 23:33:40',0,100,3,2);
/*!40000 ALTER TABLE `ket_qua` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nguoi_dung` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `dia_chi` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `ho_ten` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `so_dien_thoai` varchar(255) DEFAULT NULL,
  `vai_tro` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
INSERT INTO `nguoi_dung` VALUES (1,NULL,'admin@gmail.com','Nguyễn Hoàng Huy','$2a$10$Wm/.xaMmNZgAwA0ys5K.K.1xLzVmoX68nyqrFPqEARdrSow8aeVAy','123456789',2),(2,NULL,'member@gmail.com','Nguyễn Hoàng Thịnh','$2a$10$g3O3lxP.ij2kjP3nsjpuiuDgD00Y/IfgphQJI920zu/6VikIWgTae','123456789',1);
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noi_dung_bai_tu_vung`
--

DROP TABLE IF EXISTS `noi_dung_bai_tu_vung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noi_dung_bai_tu_vung` (
  `noidungbaituvungid` int(11) NOT NULL AUTO_INCREMENT,
  `audiomp3` varchar(255) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `meaning` varchar(255) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `sentence` varchar(255) DEFAULT NULL,
  `transcribe` varchar(255) DEFAULT NULL,
  `baitaptuvungid` int(11) NOT NULL,
  PRIMARY KEY (`noidungbaituvungid`),
  KEY `FK3xu0kv4p43fi7qa9mmj9em9oc` (`baitaptuvungid`),
  CONSTRAINT `FK3xu0kv4p43fi7qa9mmj9em9oc` FOREIGN KEY (`baitaptuvungid`) REFERENCES `bai_tap_tu_vung` (`baitaptuvungid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noi_dung_bai_tu_vung`
--

LOCK TABLES `noi_dung_bai_tu_vung` WRITE;
/*!40000 ALTER TABLE `noi_dung_bai_tu_vung` DISABLE KEYS */;
/*!40000 ALTER TABLE `noi_dung_bai_tu_vung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slidebanner`
--

DROP TABLE IF EXISTS `slidebanner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `slidebanner` (
  `slidebannerid` int(11) NOT NULL,
  `slidename` text COLLATE utf8_swedish_ci,
  `slidecontent` text COLLATE utf8_swedish_ci,
  `slideimage` varchar(45) COLLATE utf8_swedish_ci DEFAULT NULL,
  PRIMARY KEY (`slidebannerid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slidebanner`
--

LOCK TABLES `slidebanner` WRITE;
/*!40000 ALTER TABLE `slidebanner` DISABLE KEYS */;
INSERT INTO `slidebanner` VALUES (1,' Bài Tập Reading, Listening','Chúng tôi cung cấp cho các bạn các dạng bài tập hay, bổ ích','slide2'),(2,'Thi Thử Toiec Online','Sau khi có kiến thức vững vàng, các bạn được trải nghiệm thi online','slide3');
/*!40000 ALTER TABLE `slidebanner` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-05-29 17:07:38
